
.table {
    font-family: arial, sans-serif;
    border: 1px solid black;
    padding: 10px; 
    border-collapse: collapse;
    width: 100%;
};

.tableData {
    text-align: left;
    padding: 8px;
}

.tableRow:nth-child(even) {
    background-color: #dddddd;
}

.header {
    font-size: 3.0em;
    color: #666666;
    font-variant: small-caps;
    font-weight: 700;
}

.nextButton {
    float: right;
    margin-right: 10%;
    margin-top: 30px;
    height: 36px;
    width: 66px;
}
.previousButton {
    float: left;
    margin-top: 30px;
    margin-left: 10%;
    height: 36px;
    width: 66px;
}